<div class="sidebar ">
  <div class="profilepic" style="text-align:center">
    <img class="img-circle" lazy-src="{{ '/images/avatar.png' | prepend: site.baseurl | prepend: site.url }}" alt="没错! 我就是邓小帅." style="width:100px; height:100px;" src="{{ '/images/avatar.png' | prepend: site.baseurl | prepend: site.url }}">
    <!--<img src="{{ '/images/fulls/img1.png' | prepend: site.baseurl | prepend: site.url }}" class="fit image">-->
    <br/>
    <h2>谢谢那些曾经击倒我的人, 躺着很舒服</h2>
    <hr>
  </div>
  <h2>最近发表文章</h2>
  <ul>
    {% for post in site.posts limit:5 %}
    <!--<div class="tagcloud">-->
      <!--<a href="{{ site.baseurl | prepend: site.url }}{{ post.url }}" class="color5" style="font-size: 12px;">{{ post.title }}</a>-->
    <!--</div>-->
    <li><a href="{{ site.baseurl | prepend: site.url }}{{ post.url }}">{{ post.title }}</a></li>
    <!--<hr>-->
    {% endfor %}
  </ul>
</div>

<div class="sidebar">
  <h2>标签</h2>
  <ul>
    {% for tag in site.tags %}
      <li><a href="{{ site.baseurl | prepend: site.url }}/tag/{{ tag[0] }}">{{ tag[0] }}</a></li>
      <!--<hr>-->
    {% endfor %}
  </ul>
</div>
