<div class="sidebar ">
  <h2>最近发表文章</h2>
  <ul>
    {% for post in site.posts limit:5 %}
    <div class="tagcloud">
      <a href="{{ site.baseurl | prepend: site.url }}{{ post.url }}" class="color5" style="font-size: 12px;">{{ post.title }}</a>
    </div>
    <!--<li><a href="{{ site.baseurl | prepend: site.url }}{{ post.url }}">{{ post.title }}</a></li>-->
    <!--<hr>-->
    {% endfor %}
  </ul>
</div>

<div class="sidebar">
  <h2>标签</h2>
  <ul>
    {% for tag in site.tags %}
      <li><a href="{{ site.baseurl | prepend: site.url }}/tag/{{ tag[0] }}">{{ tag[0] }}</a></li>
      <hr>
    {% endfor %}
  </ul>
</div>
